@import "./reset";
@import "./variables/global";
@import "./themes/light/light";
@import "./themes/dark/dark";
@import "./themes/pink/pink";

body {
  font: var(--font-m);
}

.app,
.app_modal {
  color: var(--accent);
  background: var(--background);
  min-height: 100vh;
}

.content-page {
  display: flex;
  position: relative;
}

.page-wrapper {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--button-dpurple-lblack-hover);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  cursor: pointer;
  border-radius: 10px;
  background: var(--scroll-background);
}

*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: var(--scroll);
  border-radius: 10px;
  height: 1px;
  border: 1px solid var(--scroll-border);
}
