.dataWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 5px;
}

.dataReadonly {
  display: flex;
  overflow: scroll;

  @supports (scrollbar-gutter: stable) {
    overflow: auto;
    scrollbar-gutter: stable;
  }
}

.blockUser {
  display: flex;
  flex-direction: column;
}

.title {
  width: 300px;
}