.profileDataItemReadonly {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  justify-content: space-between;
}

.profileDataItemReadonly__wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.profileDataItemReadonly__readonly {
  display: flex;
  justify-content: center;
  overflow: scroll;
  word-break: break-all;
  width: auto;

  @supports (scrollbar-gutter: stable) {
    overflow: auto;
    scrollbar-gutter: stable;
  }
}

.profileDataItemReadonly__user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profileDataItemReadonly__data {
  display: flex;
  flex-direction: column;
}

.title {
  width: 300px;
}

.titleName {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  word-break: break-all;
}
