.text__title {
  color: var(--accent);
}

.text__paragraph {
  color: var(--accent);
}

.text_background {
  .text__title {
    color: var(--title-main);
  }

  .text__paragraph {
    color: var(--text-main);
  }
}

.text_block {
  .text__title {
    color: var(--title-block-main);
  }

  .text__paragraph {
    color: var(--text-block-main);
  }
}

.text_secondary-inverted {
  .text__title {
    color: var(--accent);
  }

  .text__paragraph {
    color: var(--secondary-inverted);
  }
}

.text_white {
  .text__title {
    color: var(--text-white);
  }

  .text__paragraph {
    color: var(--text-white);
  }
}

.text_translucent {
  .text__title {
    color: var(--text-translucent);
  }

  .text__paragraph {
    color: var(--text-translucent);
  }
}

.text_subtitle {
  .text__title {
    opacity: 0.5;
    color: var(--title-subtitle);
  }

  .text__paragraph {
    opacity: 0.5;
    color: var(--text-subtitle);
  }
}

.text_error {
  .text__title {
    color: var(--error);
  }

  .text__paragraph {
    color: var(--error);
  }
}

.text_main-page {
  .text__title {
    font: 36px "Arial", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    line-height: 1.2;
    color: var(--text-main);
  }

  .text__paragraph {
    font: 23px "Arial", sans-serif;
    color: grey;
    font-optical-sizing: auto;
    font-weight: 700;
    line-height: 1.2;
  }
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.text_size-xs {
  .text__title {
    font: var(--font-s);
  }

  .text__paragraph {
    font: var(--font-xs);
  }
}

.text_size-s {
  .text__title {
    font: var(--font-m);
  }

  .text__paragraph {
    font: 13px var(--font-family-main);
  }
}

.text_size-m {
  .text__title {
    font: var(--font-l);
  }

  .text__paragraph {
    font: var(--font-m);
  }
}

.text_size-l {
  .text__title {
    font: var(--font-xl);
  }

  .text__paragraph {
    font: var(--font-l);
  }
}

.text_size-xl {
  .text__title {
    font: var(--font-xxl);
  }

  .text__paragraph {
    font: var(--font-xl);
  }
}
