.title {
  font: var(--font-l);
  color: var(--accent);
}

.text {
  font: var(--font-m);
  color: var(--accent);
}

.error {
  .title {
    font: var(--font-l);
    color: var(--error);
  }

  .text {
    font: var(--font-m);
    color: var(--error);
  }
}

.linkLight {
  .title {
    font: var(--font-l);
    color: var(--secondary-light);
  }

  .text {
    font: var(--font-m);
    color: var(--secondary-light);
  }
}

.secondaryInverted {
  .title {
    font: var(--font-l);
    color: var(--secondary-inverted);
  }

  .text {
    font: var(--font-m);
    color: var(--secondary-inverted);
  }
}

.textWhite {
  .title {
    font: var(--font-l);
    color: var(--secondary-light);
  }

  .text {
    font: var(--font-m);
    color: var(--secondary-light);
  }
}

.textBlack {
  .title {
    font: var(--font-l);
    color: var(--accent-dark);
  }

  .text {
    font: var(--font-m);
    color: var(--accent);
  }
}

.header {
  .title {
    font: var(--font-l);
    color: var(--secondary);
  }
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}
