.articleViewSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 7%;

  &:hover {
    .articleViewSelector__icon {
      fill: var(--block-color);
      stroke: var(--block-color);
    }
  }
}

.articleViewSelector__icon {
  width: 20px;
  height: 20px;
  fill: var(--block-color);
  stroke: var(--block-color);
}


.articleViewSelector_viewSwitcher {
  fill: var(--main-hover);
  stroke: var(--main-hover);
}
