.articleViewSelector__icon {
  width: 20px;
  height: 20px;
  fill: var(--block-color);
  stroke: var(--block-color);
}

.articleViewSelector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;

  &:hover {
    .articleViewSelector__icon {
      fill: var(--block-color);
      stroke: var(--block-color);
    }
  }
}

.ArticleViewSelectorButton {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.articleViewSelector_viewSwitcher {
  fill: var(--main-hover);
  stroke: var(--main-hover);
}
