.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}

.modal_navbar-search {
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
  background: var(--modal-search); //search bgc color
  color: var(--modal-color);
  //box-shadow: 2px 3px 3px var(--box-shadow);
  width: 100%;
  height: 25vh;
}

.modal_default {
  padding: 10px;
  border-radius: 8px;
  background: var(--block-color);
  color: var(--modal-color);
  box-shadow: 2px 3px 3px var(--box-shadow);
}

.modal__overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: var(--modal-background-blur);
}

.modal__contentWrapper {
  margin-top: 100px;
  width: 35%;
}

.modal__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__contentDefault {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-top: 250px;
}

.modal__bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 50px;
  background-color: var(--block-color);
  border-radius: 0px 0px 6px 6px;
  box-shadow: 0px -5px 10px -5px var(--box-shadow);
}

.modal__escIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.modal_opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  // animation effect opened
  //.modal__content {
  //  transform: scale(1);
  //}
}

.modal_closed {
  .modal__content {
    // animation effect closed
    animation-duration: 3s;
    animation-name: disappearance;
  }

  @keyframes disappearance {
    0% {
      transform: scale(1.2);
      opacity: 0.5;
    }

    100% {
      transform: scale(3.2);
      opacity: 0.1;
    }
  }
}
