.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}

.modal_navbar-search {
  position: absolute;
  bottom: 500px;
  padding: 10px;
  border-radius: 8px;
  background: var(--block-color);
  color: var(--modal-color);
  box-shadow: 2px 3px 3px var(--box-shadow);
  width: 40%;
  height: 25vh;
}

.modal_default {
  padding: 10px;
  border-radius: 8px;
  background: var(--block-color);
  color: var(--modal-color);
  box-shadow: 2px 3px 3px var(--box-shadow);
}

.modal__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: var(--modal-background-blur);
}

.modal__content {
  transition: 0.3s transform;
  transform: scale(0.9);
  max-width: 60%;
}

.modal_opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  // animation effect opened
  //.modal__content {
  //  transform: scale(1);
  //}
}

.modal_closed {
  .modal__content {
    // animation effect closed
    transform: scale(2.2);
    opacity: 0.1;
  }
}
