.button {
  cursor: pointer;
  background: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--secondary);
}

.button_clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--secondary-light);
  fill: var(--secondary-light);

  &:hover {
    opacity: 0.4;
    border-radius: 50%;
    background-color: var(--button-clear-hover);
  }

  &:active {
    transition: opacity 0.1s;
    opacity: 0.1;
    border: 1px solid black;
  }
}

.button_outline {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secondary);
  fill: var(--secondary);
  color: var(--secondary);
  background: none;
}

.button_cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--button-cancel);
  color: var(--white);
  fill: var(--white);
  padding: 10px 10px 10px 15px;
  border: none;
  border-radius: 5px;
  clip-path: polygon(15px 0%, 100% 0%, 100% 100%, 15px 100%, 0 50%);

  &:hover {
    background: var(--button-cancel);
    color: var(--white);
    fill: var(--white);
    transition: 0.2s ease-in-out;
  }
}

.button_save {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--button-save);
  color: var(--white);
  fill: var(--white);
  padding: 10px;
  border: none;

  &:hover {
    background: var(--button-save);
    color: var(--white);
    fill: var(--white);
    box-shadow: 0 3px 5px var(--box-shadow);
    transition: 0.2s ease-in-out;
  }
}

.button_scrollTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: var(--button-scroll-to-top-bgc);
  border: none;
  width: 100%;
  height: 100%;
  opacity: 0.03;

  &:hover {
    opacity: 0.2;
    transition: 0.2s ease-in-out;
  }
}

.button_background {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  background: var(--button-background);
  color: var(--text-white);
  fill: var(--text-white);

  &:hover {
    background: var(--login-hover);
    color: var(--secondary);
    fill: var(--secondary);
    box-shadow: 1px 1px 3px var(--accent-dark);
    transition: 0.2s ease-in-out;
  }
}

.button_backgroundBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  background: var(--accent-dark);
  color: var(--secondary-light);
  fill: var(--secondary-light);

  &:hover {
    background: var(--main-hover);
    color: var(--secondary);
    fill: var(--secondary);
    box-shadow: 1px 1px 3px var(--accent-dark);
    transition: 0.2s ease-in-out;
  }
}

.button_backgroundWhitePurple {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  background: var(--button-dpurple-lwhite);
  color: var(--secondary-inverted);
  fill: var(--secondary-inverted);

  &:hover {
    background: var(--main-hover);
    color: var(--secondary);
    fill: var(--secondary);
    box-shadow: 1px 1px 3px var(--box-shadow);
    transition: 0.2s ease-in-out;
  }
}

.button_backgroundBlackPurple {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--button-dpurple-ldark);
  color: var(--secondary);
  fill: var(--secondary);
  padding: 10px;
  border: none;

  &:hover {
    background: var(--button-dpurple-lblack-hover);
    color: var(--secondary);
    fill: var(--button-dpurple-lwhite);
    box-shadow: 1px 1px 3px var(--box-shadow);
    transition: 0.2s ease-in-out;
  }
}

.button_disabled {
  opacity: 0.5;
}

.button_square.button_size_none {
  width: 0;
  height: 0;
}

.button_square.button_size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.button_square.button_size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font-size: var(--font-l);
}

.button_square.button_size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.button_square.button_size_xxl {
  width: var(--font-line-xxl);
  height: var(--font-line-xxl);
}

.button_radius_square {
  border-radius: 0;
}

.button_radius_semi_super_ellipse {
  border-radius: 25%;
}

.button_radius_semi_ellipse {
  border-radius: 10px;
}

.button_radius_ellipse {
  border-radius: 100px;
}

.button_radius_circle {
  border-radius: 50%;
}
