.avatar {
  display: flex;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    backdrop-filter: blur(5px);
    background: var(--border-grey);
  }

  &__img {
    width: 200%;
    height: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  &_clear {
    cursor: pointer;
  }

  &_size_m {
    width: 25px;
    height: 25px;
  }

  &_size_l {
    width: 50px;
    height: 50px;
  }

  &_size_xl {
    width: 100px;
    height: 100px;
  }

  &_size_xxl {
    width: 200px;
    height: 200px;
  }

  &_radius_square {
    border-radius: 0%;
  }

  &_radius_circle {
    border-radius: 50%;
  }

  &_radius_ellipse {
    border-radius: 10px;
  }
}
