.Sidebar {
  min-height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--secondary-dark);
  box-shadow: 2px 3px 3px var(--box-shadow);
  position: relative;
  transition: width 0.2s;
}

.button {
  position: absolute;
  top: -40px;
  left: 10px;
  cursor: pointer;
}

.BarsIcon {
  width: 25px;
  height: 25px;
  fill: var(--secondary-light);

  &:hover {
    fill: var(--secondary-light);
    opacity: 1;
  }
}

.sidebarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.items {
  display: flex;
  top: 30px;
  position: sticky;
  justify-content: center;
  flex-flow: column wrap;
  margin-top: 40px;
  margin-left: 20px;
}

.switchers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 20px;
  width: 10%;
  position: fixed;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
  }

  .lang {
    margin-top: 10px;
  }

  .link {
    display: none;
    flex-wrap: nowrap;
    width: 0;
  }

  .icon {
    transition: margin-top 0.5s ease-in-out;
  }

  .roll {
    rotate: 180deg;
  }
}
