.sidebarItem {
  display: flex;
  align-items: center;
  margin-top: 15px;
  height: 40px;
}

.sidebarItem__link {
  margin-left: 20px;
  opacity: 1;
}

.sidebarItem__icon {
  width: 25px;
  height: 40px;
  transition: margin-top 0.5s ease-in-out;
  fill: var(--secondary-light);
}

.sidebarItem_collapsed {
  .sidebarItem__link {
    display: none;
    flex-wrap: nowrap;
    width: 0;
  }

  .sidebarItem__icon {
    transition: margin-top 0.5s ease-in-out;
  }
}
