.doubleFrame {
  display: flex;
  align-items: start;
  flex-direction: row;
  width: 100%;
}

.doubleFrame__leftBlockContent {
  display: flex;
  flex-direction: column;
  width: 69%;
  margin-right: 1%;
}

.doubleFrame__rightBlockContent {
  top: 65px;
  position: sticky;
}
