.blockWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.blockContent {
  display: flex;
  flex-direction: column;
  width: 69%;
  margin-right: 1%;
}

.leftBlockWrapper {
  display: flex;
  flex-direction: column;
}
