.blocksWrapper {
  display: flex;
  align-items: start;
  flex-direction: row;
  width: 100%;
}

.leftBlockContent {
  display: flex;
  flex-direction: column;
  width: 69%;
  margin-right: 1%;
}

.rightBlockAdditional {
  top: 20px;
  position: sticky;
}

.leftBlockWrapper {
  display: flex;
  flex-direction: column;
}
