.articleList {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 0;
  gap: 27px;
}

.articleList_row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
