.articleList {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 0;
  gap: 15px;
}

.articleList_row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
