.errorPallet {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.errorPallet__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}

.errorPallet__refreshButton {
  margin-top: 20px;
}

.errorPallet_default {
  border-radius: 10px;
  background: var(--main-hover);
  color: var(--secondary);
  fill: var(--secondary);
}

.errorPallete_transparent {
  border-radius: 10px;
  background: none;
  color: var(--main-hover);
  fill: var(--main-hover);
}

.errorPallet_size-none {
  width: 100px;
  padding: 5px;
}

.errorPallet_size-auto {
  width: auto;
  padding: 5px;
}

.errorPallet_size-m {
  width: 200px;
  padding: 10px;
}

.errorPallet_size-l {
  width: 300px;
  padding: 10px;
}

.errorPallet_size-xl {
  width: 500px;
  padding: 20px;
}

.errorPallet_size-xxl {
  width: 700px;
  padding: 40px;
}
