.errorPallet {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.errorPallet__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  border: 1px solid var(--main-hover);
  border-radius: 10px;
}

.default {
  border-radius: 10px;
  border: 1px solid var(--main-hover);
  background: var(--accent-dark);
  color: var(--secondary);
  fill: var(--secondary);
}

.size_none {
  width: 100px;
  padding: 5px;
}

.size_auto {
  width: auto;
  padding: 5px;
}

.size_m {
  width: 200px;
  padding: 10px;
}

.size_l {
  width: 300px;
  padding: 10px;
}

.size_xl {
  width: 500px;
  padding: 20px;
}

.size_xxl {
  width: 700px;
  padding: 40px;
}
