.Card {
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    transform: scale(1.01);
  }
}

.ArticleListItemTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row  wrap;
}

.ArticleListItemImg {
  height: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  backdrop-filter: blur(5px);
  background: var(--border-grey);
}

.ArticleListItemStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

.ArticleListItemDate {
  display: flex;
  width: 40%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.ArticleListItemViews {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.ArticleListItemIcon {
  fill: var(--text-block-main);
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.ArticleListItemTags {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 70%;
  height: 60px;
  overflow: hidden;
  margin-top: 30px;
  gap: 5px;
  cursor: pointer;
  background-color: var(--block-color);
}

.ArticleListItemTags:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(180deg, transparent, var(--block-color) 70%);
  z-index: 1;
}

.Tag {
  padding: 5px;
}

.ArticleListItemListView {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}
