.navbarSearch {
}

.navbarSearch__wrapper {
  position: relative;
}

.navbarSearch__searchIcon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  fill: var(--border-input);
}
