.navbarSearch {
}

.navbarSearch__searchIcon {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  fill: var(--border-input);
}

.navbarSearch__bottom {
  width: 100%;
  height: 50px;
}
