.code {
  position: relative;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;
  background-color: var(--code-block-background);
}

.code__copyBtn {
  position: absolute;
  top: 10px;
  right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.code__copyIcon {
  fill: var(--main);
  width: 30px;
  height: 30px;
}

.code__copyIcon:hover,
.code__copyBtn:hover {
  fill: var(--secondary);
}

.code__wrapper {
  font-family: var(--font-family-code);
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  width: 100%;
}
