.code {
  position: relative;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;
  background-color: var(--code-block-background);
}

.code__copyBtn {
  position: absolute;
  right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.code__copyIcon {
  fill: var(--main);
  width: 40px;
  height: 40px;
}

.code__copyIcon:hover,
.code__copyBtn:hover {
  fill: var(--secondary);
}

.code__wrapper {
  font-family: var(--font-family-code);
  font-weight: 300;
  font-size: 14px;
  width: 100%;
}
