.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.input__label_top {
  margin-top: 15px;
  flex-direction: column;
}

.input__label_left {
  flex-direction: row;
}

.label__default {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: none;
  width: 300px;
  height: 50px;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 var(--secondary-inverted);
  font-size: 18px;
  background-color: var(--block-color);
  transition: 0.3s linear;
  box-shadow: 1px 1px 4px var(--box-shadow) inset;

  &::placeholder {
    font-size: 14px;
    color: #c0c0c0;
  }

  &:focus {
    color: var(--secondary-light);
    background-color: var(--accent-dark);
    border: 1px solid var(--main-hover);
    box-shadow: 1px 1px 4px var(--main-hover);
  }
}

.input_readonly {
  display: none;
}
