.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.labelTopPos {
  margin-top: 15px;
  flex-direction: column;
}

.labelLeftPos {
  flex-direction: row;
}

.simpleInput {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: none;
  width: 300px;
  height: 50px;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 var(--button-colorized);
  font-size: 18px;
  background-color: var(--input-dark-bg);
  transition: 0.3s linear;
  box-shadow: 1px 1px 4px var(--box-shadow) inset;

  &::placeholder {
    color: #c0c0c0;
  }

  &:focus {
    color: var(--black-input);
    background-color: var(--white);
    border: 1px solid var(--button-bgc-hover-white-purple);
    box-shadow: 1px 1px 4px var(--button-bgc-hover-white-purple);
  }
}

.readonly {
  display: none;
}
