.articleImageBlockComponent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 15px;
}

.articleImageBlockComponent__img {
  border-radius: 10px;
  max-width: 100%;
}

.articleImageBlockComponent__title {
  margin-top: 10px;
}
