.blockRecommendation {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--block-color);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 5px var(--box-shadow);
  height: auto;

  &:not(:first-child) {
    margin-top: 10px;
  }
}
