@import './reset.scss';
@import 'variables/global.scss';
@import './themes/light/light.scss';
@import './themes/dark/dark.scss';


.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--secondary-color);

    min-height: 100vh;
}