.articlesPage {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.recommendationsMock {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  padding: 50px;
}

.articlesPage__selectors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.articlesPage__error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.recommendationsMock_wrapper {
  margin-top: 10px;
}

.articlesPage__filters {
  margin-top: 10px;
}

.articlesPage__content {
  margin-top: 10px;
}
