.articlesPage {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.recommendationsMock {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  padding: 50px;
}

.recommendationsMock_wrapper {
  margin-top: 10px;
}
