.ArticlesPage {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.ArticlesPageHeader {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.recommendationsMockWrapper {
  margin-top: 10px;
}

.recommendationsMock {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  padding: 50px;
}
