.skeletonArticleListItem {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-left: 0;
}

.skeletonArticleListItem_col {
  flex-flow: column wrap;
}

.skeletonArticleListItem_row {
  flex-flow: row wrap;
}

.skeletonArticleListItem__wrapper_grid {
  padding: 20px;
}

.skeletonArticleListItem__wrapper_list {
  padding: 30px;
}

.CardGrid {
  cursor: pointer;
  transition: 0.2s;
  width: 295px;

  &:hover {
    transform: scale(1.01);
  }
}

.SkeletonArticleListItemTitle {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: row  wrap;
  margin-top: 10px;
}

.skeletonArticleListItem__img {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  backdrop-filter: blur(5px);
  object-fit: cover;
}

.skeletonArticleListItem__statistic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

.skeletonArticleListItem__date {
  display: flex;
  width: 40%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.skeletonArticleListItem__views {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.ArticleListItemIcon {
  fill: var(--text-block-main);
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.skeletonArticleListItem__tags {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 70%;
  height: 60px;
  margin-top: 30px;
  gap: 5px;
  cursor: pointer;
}

.skeletonArticleListItem__tag {
  padding: 5px;
}

.listViewIndent {
  margin-top: 15px;
}

.skeletonArticleListItem__title {
  margin-top: 20px;
}

.skeletonArticleListItem__tags {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  justify-content: space-between;
  margin-top: 10px;
}

.skeletonArticleListItem__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  width: 60%;
  cursor: pointer;
}

.skeletonArticleListItem__header div {
  margin-right: 10px;
}

.skeletonArticleListItem__info {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 70%;
}

.skeletonArticleListItem__infoTop {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.skeletonArticleListItem__infoBot {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 70%;
  height: 20px;
  margin-top: 10px;
}

.skeletonArticleListItem__description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.skeletonArticleListItem__footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.ArticleTitle {
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

.ArticleSubtitle {
  margin-top: 5px;
  margin-right: 5px;
}
