.skeletonArticleDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 15px 55px;
}

.skeletonArticleDetails__header {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.skeletonArticleDetails__headerTop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 65%;
}

.skeletonArticleDetails__avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.skeletonArticleDetails__title {
  margin-top: 10px;
}

.skeletonArticleDetails__statistic {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.skeletonArticleDetails__contentBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.skeletonArticleDetails__content {
  margin-top: 10px;
  width: 100%;
}
