.articlePageFilters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.articlePageFilters__widgets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 35%;
  margin-right: 10px;
}
