.halfPageBlock {
  display: flex;
  flex-wrap: wrap;
  width: 49.8%;
  background-color: var(--block-color);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 0 4px var(--box-shadow);
  word-break: break-all;
}
