.app_dark_theme {
  --main: #303b44;
  --secondary: #202d2b;
  --accent: #f4f8fb;

  // Complementary Colors
  --secondary-inverted: #f4f8fb;
  --secondary-dark: #303b44;
  --secondary-light: #f4f8fb;
  --accent-dark: #202d2b;
  --background: #202d2b;
  --background-inverted: #f4f8fb;
  --error: #e60026;

  // Complementary Text color
  --text-main: #f4f8fb;
  --title-main: #548eaa;
  --text-white: #fff;
  --text-block-main: var(--accent);
  --text-search-nav: #f4f8fb;
  --title-block-main: #548eaa;
  --title-subtitle: #f4f8fb;
  --text-subtitle: #f4f8fb;
  --text-translucent: #547772;

  // Complementary hover
  --main-hover: #548eaa;
  --login-hover: #844851;
  --button-dpurple-lblack-hover: #ceaaf3;
  --button-clear-hover: #494848;

  // Complementary box-shadow
  --box-shadow: #1c2328;
  --block-color: #303b44;

  // Complementary Button color
  --button-save: #1aa260;
  --button-cancel: #de5246;
  --button-dpurple-lwhite: #b578f3;
  --button-dpurple-ldark: #b578f3;
  --button-scroll-to-top-bgc: var(--accent);
  --button-scroll-to-top: var(--main);
  --button-background: #548eaa;

  // Complementary border color
  --border-grey: #808080;
  --border-input: #548eaa;

  // Complementary Modal color
  --modal-background: #1a1d1a;
  --modal-background-blur: rgb(0 0 0 / 1%);
  --modal-color: #f4f8fb;

  // Skeleton colors
  --skeleton-element-from: var(--main);
  --skeleton-element-to: var(--accent);
  --skeleton-block-gradient-fist: #5c7182;
  --skeleton-block-gradient-second: #536676;
  --skeleton-block-gradient-third: #495a68;
  --skeleton-block-gradient-fourth: #303b44;

  // ThemeSwitcher color
  --theme-switcher-color: #202d2b;

  // Code block color
  --code-block-background: #202d2b;

  // Scroll color
  --scroll: #c5c5c5;
  --scroll-background: #202d2b;
  --scroll-border: #c5c5c5;

  // Tag color
  --tag-default: #547772;
}
