.app.dark {
    --bg-color: #0f120e;
    --navbar-color: #1a1d1a;
    --primary-color: #1a1d1a;
    --secondary-color: #daddd9;
    --rare-color: #b479f3;
    --box-shadow: #080c08;

    // Text color
    --nav-text-color: #daddd9;

    // Links color
    --nav-links-color-black: #b479f3;
    --nav-links-color-light: #daddd9;

    // Icon color
    --icon-color: #daddd9;
}
