.app_pink_theme {
  --main: #844851;
  --secondary: #693a5d;
  --accent: #fbf4f5;

  // Complementary Colors
  --secondary-inverted: #fbf4f5;
  --secondary-dark: #844851;
  --secondary-light: #fbf4f5;
  --accent-dark: #693a5d;
  --background: #fbf4f5;
  --background-inverted: #844851;
  --error: #e60026;

  // Complementary Text color
  --text-main: #844851;
  --title-main: #693a5d;
  --text-white: #fff;
  --text-block-main: var(--accent);
  --title-block-main: #ff8b9c;
  --title-subtitle: #fbf4f5;
  --text-subtitle: #fbf4f5;
  --text-translucent: #d57483;

  // Complementary hover
  --main-hover: #548eaa;
  --button-dpurple-lblack-hover: #ceaaf3;
  --button-clear-hover: #494848;

  // Complementary box-shadow
  --box-shadow: #2c181b;
  --block-color: #844851;

  // Complementary Button color
  --button-save: #1aa260;
  --button-cancel: #de5246;
  --button-dpurple-lwhite: #b578f3;
  --button-dpurple-ldark: #b578f3;

  // Complementary border color
  --border-grey: #808080;

  // Complementary Modal color
  --modal-background: #844851;
  --modal-background-blur: rgb(132 72 81 / 1%);
  --modal-color: #844851;

  // Skeleton colors
  --skeleton-element-from: var(--main);
  --skeleton-element-to: var(--accent);
  --skeleton-block-gradient-fist: #de7988;
  --skeleton-block-gradient-second: #c06976;
  --skeleton-block-gradient-third: #a25863;
  --skeleton-block-gradient-fourth: #844851;

  // ThemeSwitcher color
  --theme-switcher-color: #ff8b9c;

  // Code block color
  --code-block-background: #693a5d;

  // Scroll color
  --scroll: #ff8b9c;
  --scroll-background: #693a5d;
  --scroll-border: #ff8b9c;

  // Tag color
  --tag-default: #693a5d;
}
