.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
  position: sticky;
  top: 5px;
  z-index: 1;
}

.navbar__accountBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}

.navbar__avatar {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  align-items: center;
  cursor: pointer;
}

.navbar__theme {
  margin-right: 20px;
}

.navbar__username {
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: var(--text-main);
}

.navbar_show {
  width: 89.2%;
  margin-left: 5%;
  backdrop-filter: blur(10px);
  box-shadow: 2px 3px 3px var(--box-shadow);
  border-radius: 10px;
}
