.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
}

.accountBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}

.theme {
  margin-right: 20px;
}

.usernameLinks {
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: var(--text-main);
}

.usernameAvatar {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  align-items: center;
  cursor: pointer;
}
