.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--secondary-dark);
  box-shadow: 0 3px 5px var(--box-shadow);
}

.logoWrapper {
  display: flex;
  align-items: center;
  width: 30%;
  height: 50px;
  cursor: pointer;
}

.logo {
  margin-left: 50px;
}

.plank {
  width: 15px;
  height: 5px;
  color: #fff;
  background-color: #fff;
  margin-top: 25px;
  margin-left: 2px;
  animation: blinking 1.2s cubic-bezier(0.1, 0, 0.1, 0.1) infinite;
}

@keyframes blinking {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.accountBar {
  display: flex;
  justify-content: center;
  align-items: center;

  :not(:last-child):not(:first-child) {
    margin-right: 15px;
  }

  :first-child {
    margin-right: 1px;
  }
}

.usernameLinks {
  height: 40px;
  padding: 5px;
}

.links {
  margin-left: auto;
}

.mainLink {
  margin-right: 15px;
}
