.profilePageHeader {
  margin-top: 5px;
}

.profilePageHeader__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: auto;
  padding: 15px;

  .profilePageHeader__readonlyBtn {
    margin-left: auto;
    width: 50px;
  }
}

.profilePageHeader__title {
  color: var(--white);
}

.profilePageHeader__editNav {
  display: flex;
  filter: drop-shadow(-1px 6px 3px var(--accent-dark));
}

.profilePageHeader__editBtn {
  margin-left: auto;
  width: 50px;

  &:last-child {
    margin-left: 10px;
  }
}

.profilePageHeader__readonlyIcons {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.profilePageHeader__saveIcon {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.profilePageHeader__cancelIcon {
  width: 20px;
  height: 20px;
  fill: var(--white);
}
