.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  background-color: var(--block-colorized);
  padding: 15px;
  border-radius: 10px;

  .toEditButton {
    margin-left: auto;
    width: 150px;
  }
}

.titleText {
  color: var(--white);
}

.editButtons {
  display: flex;
}

.editButton {
  margin-left: auto;
  width: 150px;

  &:last-child {
    margin-left: 10px;
  }
}

