.RecommendationsArticleDetailList__isLoading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  & div {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}
