.ProfileCard {
  width: 100%;
  padding: 20px 5px;
}

.data {
  margin-top: 10px;
  background-color: var(--block-colorized);
  padding: 15px;
  border-radius: 10px;
}

.input {
  margin-top: 10px;
}

