.addCommentForm {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 10px 40px;
  margin-top: 10px;
  width: 100%;
}

.addCommentForm__title {
  display: flex;
  justify-content: start;
}

.NoneDisplayed {
  display: none;
}

.addCommentForm__inputWrapper {
  display: flex;
  justify-content: start;
  width: 100%;
}

.addCommentForm__input {
  display: flex;
  align-items: start;
  width: 100%;
  height: 100px;
  text-align: start;

  &__input::placeholder {
    height: 100%;
    text-align: start;
    transform: translateY(-80px) translateY(50%);
  }
}

.addCommentForm__btn {
  display: flex;
  margin-top: 10px;
  justify-content: start;
}
