.commentCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.commentCard__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.commentCard__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  background-color: var(--accent);
  border-radius: 50%;
  margin-right: 10px;
  opacity: 0.3;
}

.commentCard__innerIcon {
  width: 6px;
  height: 6px;
  background-color: var(--secondary);
  border-radius: 50%;
}

.commentCard__link {
  display: flex;
  flex-direction: row;
}

.commentCard__title {
  margin: 0 10px;
}

.commentCard__text {
  width: 95%;
  margin-left: 20px;
  margin-top: 10px;
}
