.card__item {
  display: flex;
  flex-flow: column wrap;
}

.card_view_default {
  padding: 10px;
}

.card_view_article {
  padding: 30px;
}

.card_theme_tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--tag-default);
}

.card_theme_tabs_checked {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--block-color);
}
