.page {
  width: 100%;
  margin: 0 auto;
  flex-shrink: 100;
  max-height: 100vh;
  overflow-y: auto;
}

.page__wrapper {
  display: flex;
  position: relative;
}

.page__content {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  flex-shrink: 100;
}
//<<<<<<< HEAD
//
//.contentPage {
//  display: flex;
//  position: relative;
//}

.page__trigger {
  height: 20px;
}
//=======
//>>>>>>> main
