.app_light_theme {
  --bg-color: #f0f0f0;
  --navbar-color: #303B44;
  --primary-color: #fcfffc;
  --secondary-color: #212420;
  --rare-color: #303B44;
  --box-shadow: #6a6b6a9e;

  // Block color
  --block-colorized: #fcfffc;

  // Text color
  --white: #fcfffc;
  --black: #303B44;
  --header-black: #333333;
  --error: #e60026;
  --nav-text-color: #fcfffc;
  --nav-link-color: #fcfffc;
  --black-input: #303B44;

  // Links color
  --nav-links-color-purple: #303B44;
  --nav-links-color-black: #212420;
  --nav-links-color-light: #fcfffc;

  // Icons color
  --icon-color: #fcfffc;

  //  Border color
  --border-color: #fcfffc;
  --border-color-secondary: #303B44;
  --border-grey: #808080;

  //  Buttons color
  --button-save: #1aa260;
  --button-cancel: #de5246;
  --button-bgc: #f2f2f2;
  --button-bgc-hover-light: #f2f2f2;
  --button-color-hover-ligth: #303B44;
  --button-bgc-hover-white-purple: #548EAA;
  --button-bgc-hover: #548EAA;
  --button-sidebar-hover: #6a6b6a9e;
  --box-shadow-hover: #080c08;
  --button-colorized: #303B44;

  // Modal
  --modal-background: #f3f6f3;
  --modal-background-blur: rgb(0 0 0 / 1%);
  --modal-color: #212420;

  // Input
  --input-bg: #303B44;
  --input-dark-bg: #fcfffc;
}
