.app_light_theme {
  --main: #303b44;
  --secondary: #f4f8fb;
  --accent: #202d2b;

  // Complementary Colors
  --secondary-inverted: #303b44;
  --secondary-dark: #303b44;
  --secondary-light: #f4f8fb;
  --accent-dark: #202d2b;
  --background: #fff;
  --background-inverted: #303b44;
  --error: #e60026;

  // Complementary Text color
  --text-main: #303b44;
  --title-main: #202d2b;
  --text-block-main: var(--main);
  --text-white: #fff;
  --title-block-main: var(--accent);
  --title-subtitle: #494848;
  --text-subtitle: #494848;
  --text-translucent: #afafaf;

  // Complementary hover
  --main-hover: #548eaa;
  --button-dpurple-lblack-hover: #548eaa;
  --button-clear-hover: #6a6b6a9e;

  // Complementary box-shadow
  --box-shadow: #6a6b6a9e;
  --block-color: #f4f8fb;

  // Complementary Button color
  --button-save: #1aa260;
  --button-cancel: #de5246;
  --button-dpurple-lwhite: #f2f2f2;
  --button-dpurple-ldark: #303b44;
  --button-scroll-to-top-bgc: var(--accent);
  --button-scroll-to-top: var(--secondary);

  // Complementary border color
  --border-grey: #808080;

  // Complementary Modal color
  --modal-background: #f3f6f3;
  --modal-background-blur: rgb(0 0 0 / 1%);
  --modal-color: #202d2b;

  // Skeleton colors
  --skeleton-element-from: #9fa1a3;
  --skeleton-element-to: #bfc2c4;
  --skeleton-block-gradient-fist: #f4f8fb;
  --skeleton-block-gradient-second: #caced0;
  --skeleton-block-gradient-third: #bfc2c4;
  --skeleton-block-gradient-fourth: #cbcdcf;

  // ThemeSwitcher color
  --theme-switcher-color: #f4f8fb;

  // Code block color
  --code-block-background: #f0f0f0;

  // Scroll color
  --scroll: #afafaf;
  --scroll-background: #ececec;
  --scroll-border: #afafaf;

  // Tag color
  --tag-default: #548eaa;
}
