.app.light {
    --bg-color: #F3F6F3;
    --navbar-color: #5900E4;

    --primary-color: #FCFFFC;
    --secondary-color: #212420;
    --rare-color: #5900E4;

    --box-shadow: #6a6b6a9e;

    // Text color
    --nav-text-color: #FCFFFC;

    //Links color
    --nav-links-color-black: #212420;
    --nav-links-color-light: #FCFFFC;

    //Icons color
    --icon-color: #FCFFFC;

}