.SkeletonRecommendationsArticlesList {
  display: flex;
  flex-direction: column;
}

.SkeletonRecommendationsArticlesList__title {
  &:not(:first-child) {
    margin-top: 30px;
  }
}

.SkeletonRecommendationsArticlesList__info {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  width: 100%;
}

.SkeletonRecommendationsArticlesList__userIcon {
  width: 15px;
  margin-right: 5px;
}

.SkeletonRecommendationsArticlesList__viewsIcon {
  width: 20px;
  margin-right: 3px;
}

.SkeletonRecommendationsArticlesList__userInfo {
  margin-right: 10px;
}
