.AppLink {
  color: var(--nav-links-color);
}

.primary {
  color: var(--nav-links-color);
}

.secondary {
  color: var(--secondary);
}

.dark-title {
  color: var(--accent-dark);
}

.dark-text {
  color: var(--secondary);
}

.light {
  color: var(--secondary-light);
}
