.appLink {
  color: var(--nav-links-color);
}

.appLink_primary {
  color: var(--nav-links-color);
}

.appLink_secondary {
  color: var(--secondary);
}

.appLink_dark-title {
  color: var(--accent-dark);
}

.appLink_dark-text {
  color: var(--secondary);
}

.appLink_light {
  color: var(--secondary-light);
}
