.AppLink {
  color: var(--nav-links-color);
}

.primary {
  color: var(--nav-links-color);
}

.secondary {
  color: var(--nav-links-color-purple);
}

.white {
  color: var(--nav-links-color-light);
}
