.tagsInfo {
  display: flex;
}

.tagsInfo__wrapper {
  display: flex;
  flex-flow: wrap row;
  width: 200px;
  gap: 5px;
}

.tagsInfo__tag {
  display: flex;
  justify-content: center;
  padding: 5px;
}
